@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Create A SuperHero!!</h1>
    <p>Learn about many Superheros and even Make your own <a href="https://en.wikipedia.org/wiki/Superhero"></a>.</p>
    
</div>
